/* reset, normalize, etc */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
    margin-bottom: 5px;
}

i {
    font-style: normal;
}

.btn {
    padding: 10px;
    background-color: #EEE;
    cursor: pointer;
}


body {
    background-color: #EEE;
}

.cards {
    margin: auto;
    width: 400px;
}
::selection {
    background: #EEE; /* WebKit/Blink Browsers */
}

*:focus {
    outline: 0;
}
